*{
    font-family: 'Montserrat', sans-serif;
}
.tbclr{
     --background: rgba(139, 245, 31, 0.9098039215686274);
    color: white;
}

.border_bottom{
	border-bottom: 1px solid #eee;
       min-height: 5px;
       background-color: #fff;
       position: relative;
}
p.exp{
	
	font-size: 20px;
	text-align: center;
	
	
}
p.heading{
	
	font-size: 20px;
	text-align: center;
	
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.padding{
	padding-left: 18px;
}
.placholder_margin{
	margin-left: 52px;
}
.btn1{
    --background: rgba(139, 245, 31, 0.9098039215686274);
}
.col-pd-left{
    padding-left: 25px;
}