*{
	
	font-family: 'Montserrat', sans-serif;
}
.tbclr{
  --background: rgba(139, 245, 31, 0.9098039215686274);
  color: white;
}
.col-pd{
	padding-top: 10px;
}
.icon{
	height: 35px;
    width: 50px;
    /* background: blue; */
    color: #101820;
}
.p{
	display: inline;
	font-size: 15px;
    font-weight: bold;
    color: #0000008f;
}