<ion-content class="bg">
	<ion-grid>
		<ion-row>
			<ion-card class="card card-mg-t">
				<ion-grid>
				<h2>Payment Successful</h2>
				<p>Your payment is processed successfully</p>
				<p>All the deatils of your transactions will be sent yo your Registered Mobile number</p>
				<ion-grid>
					<ion-row>
						<ion-col size="4">
					
				</ion-col>
				<ion-col size="4">
					<ion-button expand="block" size="medium" class="btn1" [routerLink]="['/feedback']">Done</ion-button>
				</ion-col>
				<ion-col size="4">
					
				</ion-col>
					</ion-row>
				</ion-grid>
				</ion-grid>
				
			</ion-card>
		</ion-row>
	</ion-grid>
</ion-content>
