*{
  font-family: 'Montserrat', sans-serif;
}
.tbclr{
  --background: rgba(139, 245, 31, 0.9098039215686274);
  color: white;
}
.logoheader {
       font-family: 'Permanent Marker', cursive;
       font-size: 2.5rem;
       margin-bottom: 0;
}
.p1{
	margin: 0;
    font-weight: bold;
    font-size: 12px;

}
.p2{
	margin: 0px;
    font-size: 12px;
}
.img{
	height: 125px;
}
.contact-p{
	text-align: center;
	font-size: 15px;
	margin: 0;
}
h4{
	font-weight: bold;
}