<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button defaultHref="home"icon="close"></ion-back-button>
      </ion-buttons>
        <h3 class="logoheader">Vegito</h3>
        <p class="p1">Online Grocery App</p>
        <p class="p2">Open 10:00 AM to 7:00 PM</p>

    </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-img src="../assets/images/call.png" class="img"></ion-img>
				<h4 class="contact-p">Call for any queries</h4>
				<p class="contact-p">+91-9XXXXXXXX</p>
			</ion-col>

		</ion-row>
	</ion-grid>
	<ion-row>
			<ion-col>
				<ion-img src="../assets/images/address.png" class="img"></ion-img>
				<h4 class="contact-p">Address</h4>
				<p class="contact-p">Kadam Plaza Shop no. XX</p>
				<p class="contact-p">Borsi, Durg,(C.G)</p>
			</ion-col>

		</ion-row>
</ion-content>
