<ion-content>
	<ion-grid class="grid-mg">
		<ion-row>
			<ion-col>
				<ion-img src="../assets/images/maintenance.png" style="height: 230px;"></ion-img>
				<h3 style="text-align: center;">Under Maintenance</h3>
				<p style="text-align: center;">We are doing our best to get back in</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col></ion-col>
			<ion-col>
				<ion-button class="h-btn" [routerLink]="['/home']" expand="block" size="medium">Go home</ion-button>
			</ion-col>
			<ion-col></ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer>
  <ion-tabs class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/wallet']">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/maintenance']">
      <ion-icon name="flame"></ion-icon>
      <ion-label>Latest Arrival</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/offers']">
      <ion-icon name="gift"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="checkLogin()">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
      <ion-badge *ngIf='cart'>{{cart}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-footer>
