<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button defaultHref="wallet"icon="close"></ion-back-button>
      </ion-buttons>
        <ion-title>Withdraw Money</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid class="mt">
		<ion-img src="../assets/images/withdraw.png"class="w-icon"></ion-img>
	</ion-grid>
	
	<h2 class="h2">Withdraw Money</h2>
	<ion-grid>
		<ion-row>
			<ion-col size="3"></ion-col>
			<ion-col>
				<ion-item>
  					<ion-label position="floating"></ion-label>
  					<ion-input class="font" type="number" placeholder="₹ Enter Amount..."></ion-input>
				</ion-item>
			</ion-col>
			<ion-col size="3"></ion-col>
			
		</ion-row>
	</ion-grid>
    
    <ion-grid>
    	<ion-row>
    		<ion-col>
    			<ion-button class="btn-clr" size="medium" expand="block">Withdraw Money</ion-button>
    		</ion-col>
    	</ion-row>
    </ion-grid>
</ion-content>
<ion-footer>
  <ion-tabs class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="active" [routerLink]="['/wallet']">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/new-arrivals']">
      <ion-icon name="flame"></ion-icon>
      <ion-label>Latest Arrival</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/offers']">
      <ion-icon name="gift"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="checkLogin()">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
      <ion-badge *ngIf='cart'>{{cart}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-footer>
