<ion-app>
	<ion-split-pane>
		<ion-menu side="start" type="overlay">
			<ion-header>
				<ion-toolbar>
					<ion-title *ngIf="!logstatus">Menu</ion-title>
					<ion-buttons  slot="end">
						
					</ion-buttons>
					<!-- <ion-buttons slot="end">
						<ion-button [routerLink]="['/user-details']"><ion-icon name="person" slot="end"></ion-icon></ion-button>
					</ion-buttons> -->
					<ion-grid class="menu-pd" *ngIf="logstatus" >
						<ion-avatar style="padding: 10px;">
						<ion-img [routerLink]="['/user-details']" src="../assets/images/user.jpg"></ion-img>
					</ion-avatar>
					<p class="p_username">Username</p>
					<p class="p_username">9877899871</p>
					</ion-grid>
				</ion-toolbar>
			</ion-header>

			<ion-content>
				<ion-list id="sidebar">
					<ion-menu-toggle auto-hide="false">
						<ion-item [routerLink]="['/home']">
							<ion-icon name="home"  slot="start"></ion-icon>
							<ion-label >Home</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
					<ion-item (click)="dropdownMenu(true)" *ngIf="!dropdown">
						<ion-icon name="logo-dropbox" slot="start"></ion-icon>
						<ion-label>Products</ion-label>
						<ion-icon name="arrow-dropdown"></ion-icon>
					</ion-item>
					<ion-item-group class="submenu" *ngIf="dropdown">
						<ion-item  (click)="dropdownMenu(false)">
							<ion-icon name="logo-dropbox" slot="start"></ion-icon>
							<ion-label>Products</ion-label>
							<ion-icon name="arrow-dropup"></ion-icon>
						</ion-item>
						<div *ngIf="catrgories">
							<ion-menu-toggle auto-hide="false">
								<ion-item *ngFor="let cate of catrgories" (click)="dropdownMenu(false)" [routerLink]="['vegetables',cate.id]">
									<ion-icon slot="start"></ion-icon>
									<ion-icon name="radio-button-on"></ion-icon>&nbsp;&nbsp;
									<ion-label>{{cate.name}}</ion-label>
								</ion-item>
							</ion-menu-toggle>
						</div>
					</ion-item-group>

					<!-- <ion-menu-toggle>
						<ion-item>
							<ion-icon name="wallet" slot="start"></ion-icon>
							<ion-label>My wallet</ion-label>
						</ion-item>
					</ion-menu-toggle> -->

					<ion-menu-toggle auto-hide="false">
						<ion-item *ngIf="logstatus" [routerLink]="['/order-history']">
							<ion-icon name="refresh" slot="start" ></ion-icon>
							<ion-label >Order history</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item *ngIf="logstatus" [routerLink]="['/delivery-address']">
							<ion-icon name="locate" slot="start" ></ion-icon>
							<ion-label >Delivery address</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item *ngIf="logstatus" [routerLink]="['/user-details']">
							<ion-icon name="contact" slot="start"></ion-icon>
							<ion-label >User Details</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<!-- <ion-menu-toggle auto-hide="false">
						<ion-item *ngIf="logstatus" [routerLink]="['/empty-cart']">
							<ion-icon name="contact" slot="start"></ion-icon>
							<ion-label >empty cart</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item *ngIf="logstatus" [routerLink]="['/no-orders']">
							<ion-icon name="contact" slot="start"></ion-icon>
							<ion-label >No orders</ion-label>
						</ion-item>
					</ion-menu-toggle> -->
					<ion-menu-toggle auto-hide="false">
						<ion-item *ngIf="!logstatus" [routerLink]="['/login']">
							<ion-icon name="unlock" slot="start"></ion-icon>
							<ion-label >Login</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item *ngIf="logstatus" [routerLink]="['/wallet']">
							<ion-icon name="wallet" slot="start"></ion-icon>
							<ion-label>My wallet</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item [routerLink]="['/contact-us']">
							<ion-icon name="call" slot="start"></ion-icon>
							<ion-label >Contact us</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item [routerLink]="['/about-us']">
							<ion-icon name="information-circle" slot="start"></ion-icon>
							<ion-label >About us</ion-label>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false">
						<ion-item *ngIf="logstatus" (click)="logout()">
							<ion-icon name="log-out" slot="start"></ion-icon>
							<ion-label>Logout</ion-label>
						</ion-item>
					</ion-menu-toggle>
					
				</ion-list>
			</ion-content>

		</ion-menu>
		<ion-router-outlet main></ion-router-outlet>
	</ion-split-pane>
</ion-app>
