<ion-header>
  <ion-toolbar>
  	<ion-title>Delivery address</ion-title>
     <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text="" icon="close"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
	<h3 class="h3-pd">Delivery Address</h3>
	<ion-card class="card">
		
		<ion-grid>
			<ion-row>
				<ion-col>
					<h4>Work</h4>
					<p>Address</p>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
	<h3 class="h3-pd">Saved Address</h3>
	<ion-card class="card">
		
		<ion-grid>
			<ion-row>
				<ion-col>
					<h4>Home</h4>
					<p>Address</p>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
	
</ion-content>
<ion-footer>
  <ion-tabs class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/wallet']">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/maintenance']">
      <ion-icon name="flame"></ion-icon>
      <ion-label>Latest Arrival</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/offers']">
      <ion-icon name="gift"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="checkLogin()">
      <ion-icon name="cart"></ion-icon>
      <ion-label>Cart</ion-label>
      <ion-badge *ngIf='cart'>{{cart}}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-footer>