<ion-header>
  <ion-toolbar>
  	<ion-title>Delivery address</ion-title>
     <ion-buttons slot="start">
        <ion-back-button defaultHref="home" text="" icon="close"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
	<h3 class="h3-pd">Delivery Address</h3>
	<ion-card class="card">
		
		<ion-grid>
			<ion-row>
				<ion-col>
					<h4>Work</h4>
					<p>Address</p>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
	<h3 class="h3-pd">Saved Address</h3>
	<ion-card class="card">
		
		<ion-grid>
			<ion-row>
				<ion-col>
					<h4>Home</h4>
					<p>Address</p>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card>
	
</ion-content>
