*{
	font-family: "montserrat";
}
.h2{
	text-align: center;
	margin-bottom: 0;
	color: #55bf4c;
	margin-top: 0;
}
.balance{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	margin-top: 0;
	color: #55bf4c;
	margin-bottom: 0;
}
.w-icon{
	height: 100px;
}
.tabs{
  position: unset;
  contain: none;
}
.btn-clr{
	
    --background: #55bf4c;
}

.mt{
	margin-top: 130px;
}
.avt-img{
	height: 90px;
	width: 90px;
}
.active{
	color: #55bf4c;
}