*{
  font-family: 'Montserrat', sans-serif;
}
.logoheader {
       text-align: center;
       font-size: 1.8rem;
}
.tbclr{
	--background: rgba(139, 245, 31, 0.9098039215686274);
	color: white;
}


.searchbar-clr{
	border-radius: 5px;
    height: 50px;
    box-shadow: none;
    
}	
.p{
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	margin: 0;
}
.icons{
	padding: 8px;
  height: 50px;
}
.col-padding{
	padding: 0;
}
.card-padding{
	margin: 5px;
	border-radius: 18px;
	--background: rgba(211, 255, 167, 0.34901960784313724);
	box-shadow: none;
	padding: 15px;
}
.p1{
	background: #fb5252;
    padding: 8px;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
}
.p2{
	text-align: right;
    font-size: 15px;
    padding: 10px;
    color: #fb5252;
    font-weight: bold;
    font-size: 12px;
}

.p2-dn{
	text-align: right;
    font-size: 15px;
    padding: 10px;
    color: #101820;
    font-weight: bold;
    font-size: 12px;
}
.card-2{
	padding: 10px;
margin:10px;
}
.h4{
	font-size: 15px;
    /* margin: 0; */
    color: #000000d6;
    font-weight: bold;
    margin-bottom: 2px;
}
.p3{
	margin:0;
}
.btn-1{
	margin-top: 10px;
    width: 195px;
    margin-left: -30px;
    height: 42px;
    --background: rgba(139, 245, 31, 0.9098039215686274);
    font-size: 12px;
    text-align: center; 
}
.h3{
	text-align: center;
	--background: #8bf51fe8;
	color: white;
	font-size: 18px;
	font-weight:bold;
  margin-bottom: -10px;
}
.slider {
       height: 22vh;
       background-position: center;
       background-repeat: no-repeat;
       object-fit: cover;
   }
   li {
       list-style-type: none;
   }
ul {
       list-style: none;
       margin-bottom: -10px;
       padding: 0;
       border:1px solid rgba(0, 0, 0, 0.12941176470588237);
       border-radius: 10px;
   }
   .text-size {
       padding-left: 8px;
       font-size: 18px;
    font-weight: bold;
    color: #080808ba;
    margin-bottom: 0;
   }
   .dn{
   	background: #101820;
    padding: 8px;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    font-size: 12px;
   }
   .qty{
   	    margin-left: 5%;
    margin-top: 0;
   }
  
   .add-btn{
   	 margin-left: 72px;
    background: linear-gradient(to left, #c42cc4, #f765e8);
    /* color: white; */
    border-radius: 33px;
    height: 35px;
    margin-top: 15px;
   }
   .grid-mg{
   	margin-bottom: -40px;
   }
   .ionicon{
   	color:white;
   }
.col-pd{
	    padding: 0px;
}
.grd-pd{
padding: 0px;
}
.qty-pd{
  padding: 0;
}
.pd-0{
  padding: 0;
}
.img{
  height: 85px;
    width: 100%;
}
.mg-btm{
  margin-bottom: -30px;
}
.slides-mg-btm{
    margin-bottom: -15px;
}
.prd-mg-btm{
   margin-bottom: -5px;
}
.price-mg{
    margin-top: -10px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #8ee239;
    font-size: 12px;
}
.mrp-mg{
  font-weight: bold;
    color: #c31515;
    font-size: 12px;
}
.searchbar{
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #ffffff;
}
.tabs{
  position: unset;
  contain: none;
}
.badge{
  color: #a9a6a608;
}

.slides{
  position: sticky;
    top: 45px;
    z-index: 9;
    background: #ffffff;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.mrp-sld{
  margin-top: 0;
  margin-bottom: 0;
  color: red;
}

.prc-sld{
  
  margin-top: 0;
  margin-bottom: 0;
  color: green;
}

.search-btn
{
  margin-top: 10px;
  width: 100%;
  color: black;
}
